{% extends 'base.html' %}
{% block content %}

  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Maimona Ecommerce ...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra vel velit ut aliquam. Pellentesque maximus rhoncus mi nec consectetur. Fusce eget diam commodo, rhoncus dolor vel, imperdiet urna. Nullam placerat odio eu magna luctus, nec convallis elit posuere. Quisque nibh lorem, euismod vel mauris ut, varius sollicitudin nisl. Pellentesque a placerat velit. Curabitur sit amet urna urna. Aenean volutpat non magna ac bibendum. Donec venenatis libero vitae sapien placerat rutrum. Donec a orci consectetur quam bibendum tempor vitae non lorem. Vestibulum sed commodo lectus.

Aliquam erat volutpat. Etiam faucibus diam eget nisl elementum, nec sagittis tellus bibendum. Nunc id odio eget risus egestas scelerisque ut id ipsum. Nunc suscipit sodales pellentesque. Maecenas fermentum sit amet libero vel bibendum. In hac habitasse platea dictumst. Morbi hendrerit volutpat erat vel faucibus. Vivamus ut tincidunt tortor, non elementum justo.

Curabitur viverra ipsum sed magna elementum aliquet. Etiam eros leo, vulputate vitae mi non, convallis molestie enim. Nullam sed nibh vel risus imperdiet dignissim. Aliquam consequat finibus massa, scelerisque porta metus tempor id.<br/><br/> Vestibulum eu diam aliquet, aliquet mauris ut, scelerisque quam. Praesent nec felis a nunc egestas ornare id sed nisl. Suspendisse nibh leo, sollicitudin elementum ornare vitae, commodo non metus. In tincidunt a felis at dapibus. Donec ultricies, lacus vitae molestie sagittis, ex lectus dignissim neque, iaculis posuere nulla quam sit amet dui. Nam volutpat dolor nunc, nec cursus mauris tempor non. Pellentesque sit amet lorem ante. Etiam sed vulputate lorem.

Sed nisl justo, auctor et nunc nec, convallis sodales lacus. Pellentesque massa erat, scelerisque id est nec, hendrerit bibendum felis. Quisque facilisis porta mattis. Quisque malesuada semper condimentum. Vestibulum finibus turpis venenatis, interdum ipsum id, sagittis ante. Donec placerat feugiat ante eu tincidunt. Sed eu suscipit ante. Sed erat libero, finibus sit amet imperdiet eget, gravida sit amet risus. Nulla leo purus, ultrices quis felis sed, pellentesque lacinia arcu. Maecenas euismod orci justo, volutpat convallis leo dignissim id. Morbi faucibus quam vitae massa facilisis tincidunt.

Proin at ex bibendum, consequat orci eu, viverra sapien.<br/><br/> Sed convallis ut lorem a vulputate. Nulla gravida facilisis tempor. Nulla facilisi. Sed pretium ex sed metus lobortis, sed vulputate nulla semper. Nunc iaculis sit amet ligula ac condimentum. Cras a est luctus, volutpat augue a, viverra eros. Pellentesque aliquam purus a arcu laoreet, ac pretium erat efficitur. Ut lacus nulla, ultricies lobortis dignissim congue, molestie ultrices lorem. Praesent vitae felis nisi. Maecenas ligula sapien, luctus nec velit at, maximus fermentum nunc. Nulla urna dolor, imperdiet nec congue eu, vehicula vel dolor. Nullam bibendum massa vel lorem vulputate, ut hendrerit nisl feugiat. Proin egestas ante et tincidunt hendrerit. Quisque vel metus luctus turpis tincidunt dapibus nec vel turpis
                </p>
                <br/><br/>
                </div>
        </center>
    </div>
</div>

{% endblock %}